<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="Loan">-->
<!--    <test verbose="2" preserve-order="true" name="Personal Loan">-->
<!--        <classes>-->

<!--            <class name="Practice.TestNGDemo"/>-->
<!--                <class name="Practice.TestNGDemo2">-->
<!--                    <methods>-->
<!--                        <exclude name="exclude"></exclude>-->
<!--                    </methods>-->
<!--                </class>-->



<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="demo"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--&lt;!&ndash;            </class>&ndash;&gt;-->

<!--        </classes>-->
<!--    </test>-->
<!--    <test name="date">-->
<!--        <classes>-->
<!--            <class name="Practice.dateDemo">-->
<!--                <methods>-->
<!--                    <include name="date"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->